
<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta name="description" content="Coca Cola es la bebida preferida mundialmente.">
		<meta name="keywords" content="bebida, gaseosa, cola">

		<title>
			Inicio - Coca Cola
		</title>

		<link rel="shortcut icon" href="img/favicon.png">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='normalize.css')}}">
       <script src=" https://kit.fontawesome.com/f80bc176bc.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">



   </head>
<body>

	<header>

		<div class="container">

			<a href="index.html">
				<img src="{{url_for('static',filename='img/logo.svg')}}" class="logo">
			</a>

			<nav>
				<a href="#inicio">Inicio</a>
				<a href="#nosotros">Nosotros</a>
				<a href="#servicios">Servicios</a>
				<a href="#galeria">Galeria</a>
				<a href="#contactenos">Contactenos</a>
			</nav>

			<nav>
				<a href="logout" class="logout">Logout</a>
			</nav>

			<a href="#" class="hamb"><i class="fas fa-bars"></i></a>   
			
		</div>
		
	</header>

	<main>



		<section id="inicio">



			<img src="{{url_for('static',filename='img/bannerprincipal.jpg')}}">

			<div class="bloque-inicio">
				<h1>Bienvenidos a Coca Cola</h1>
				 <p>Coca-Cola es una bebida azucarada gaseosa vendida a nivel mundial en tiendas, restaurantes y máquinas expendedoras en más de doscientos países o territorios
		         </p>

				<a href="#nosotros" class="boton boton-rojo">Ver mas</a>
            </div>

		</section>

		<section id="nosotros" class="seccion ">

			<div class="container">
				<p>Acompañamos cada momento de tu día con casi 80 opciones de bebidas. Desde la tradicional Coca-Cola, pasando por AdeS, Cepita, Powerade y muchas más.
				Coca‑Cola Sabor Original es la bebida gaseosa favorita del mundo y se ha disfrutado desde 1886. Puedes encontrar Coca‑Cola Sabor Original en una variedad de presentaciones que se adaptan a cada estilo de vida y ocasión.</p>
			</div>

		</section>

		<section id="servicios" class="seccion seccion-mobile">

			<div class="container">

					<div class="row">

							<div class="columna columna-33 columna-mobile-100">

										<div class="bloque-servicio">

												<div class="bloque-img-servicio cuadrado-perfecto">
														<img src="{{url_for('static',filename='img/servicio1.jpg')}}">
												</div>

												<div class="bloque-contenido-servicio">
														<h3>Servicio 1</h3>
														<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
														cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
														proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
														<a href="#" class="boton boton-blanco">Ver mas</a>
												</div>
										
										</div>
							</div>

							<div class="columna columna-33 columna-mobile-100">
								
										<div class="bloque-servicio">

													<div class="bloque-img-servicio cuadrado-perfecto">
															<img src="{{url_for('static',filename='img/servicio1.jpg')}}">
													</div>

												<div class="bloque-contenido-servicio">
														
														<h3>Servicio 2</h3>
														<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
														cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
														proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
														<a href="#" class="boton boton-blanco">Ver mas</a>
												</div>
										
										</div>
							</div>

							<div class="columna columna-33 columna-mobile-100">
								
                               			  <div class="bloque-servicio">

													<div class="bloque-img-servicio cuadrado-perfecto">
														<img src="{{url_for('static',filename='img/servicio1.jpg')}}">
													</div>

													<div class="bloque-contenido-servicio">

															<h3>Servicio 3</h3>

															<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
															cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
															proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
															<a href="#" class="boton boton-blanco">Ver mas</a>
													</div>
										
										</div>
							</div>
						
					</div>
			</div>

		</section>

		<section id="galeria">

				<div class="container-fluid">
					
                    	<div class="row">
                    		
                           		<div class=" columna-33 columna-mobile-50">

                           				<div class="cuadrado-perfecto">
                           						<img src="{{url_for('static',filename='img/servicio1.jpg')}}">
                           						 <h4>Imagen 1</h4>
                           						
                           				</div>
                           			
                           		</div>

                           		<div class=" columna-33 columna-mobile-50">

                           			<div class="cuadrado-perfecto">
                           				      
                           						<img src="{{url_for('static',filename='img/servicio2.jpg')}}">
                           						 <h4>Imagen 2</h4>
                           						
                           				</div>
                           			
                           		</div>

                           		<div class="columna-33 columna-mobile-50">

                           			<div class="cuadrado-perfecto">
                           				        
                           						<img src="{{url_for('static',filename='img/servicio3.jpg')}}">
                           						<h4>Imagen 3</h4>
                           						
                           				</div>
                           			
                           		</div>

                           		<div class="columna-33 columna-mobile-50">

                           			<div class="cuadrado-perfecto">
                           				       
                           						<img src="{{url_for('static',filename='img/servicio1.jpg')}}">
                           						 <h4>Imagen 4</h4>
                           						
                           				</div>
                           			
                           		</div>

                           		<div class="columna-33 columna-mobile-50">

                           			<div class="cuadrado-perfecto">
                           				       
                           						<img src="{{url_for('static',filename='img/servicio2.jpg')}}">
                           						 <h4>Imagen 5</h4>
                           						
                           				</div>
                           			
                           		</div>

                           		<div class="columna-33 columna-mobile-50">

                           			<div class="cuadrado-perfecto">
                           				       
                           						<img src="{{url_for('static',filename='img/servicio3.jpg')}}">
                           						 <h4>Imagen 6</h4>
                           						
                           				</div>
                           			
                           		</div>

                    	</div>

				</div>

		</section>

		<section id="contactenos" class="seccion">
			   <iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Buenos%20Aires+(Argentina)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
				<div class="container-fluid">
					  <div class="row">
								<div class="columna columna-41 empujar-58 columna-mobile-100 empujar-mobile-0 sinpadding-mobile sinmargin-mobile">
										<form method="POST">
											<input type="hidden" name="csrf_token" value="{{csrf_token()}}" >
											{%from "macro.html" import render_field%}
											<div class="form-block">
												 {{render_field(form.name)}}
											</div>
											<div class="form-block">
												 {{render_field(form.email)}}
											</div>
											<div class="form-block">
												{{render_field(form.message)}}
											</div>
											{{form.honeypot}}
											<div class="form-block bloque-ultimo">
													<button type="submit" class="boton boton-negro">Enviar comentario</button>
												   	<a class="boton boton-negro" href="/reviews">Ver comentarios</a>
											</div>

										</form>
								</div>
						</div>
				</div>

		</section>

		
		
	</main>

	<footer class="seccion">

		<div class="container">
				<div class="row">
					<div class="columna columna-25 columna-mobile-100">
						<img src="{{url_for('static',filename='img/logo-blanco.png')}}" class="logo-footer">
						<p>
						     Coca-Cola representa una forma de disfrutar «lo mejor de la vida» Si nos ponemos serios, el éxito de la marca Coca-Cola radica en que representa para nosotros la chispa de la vida
					</div>
					<div class="columna columna-25 columna-mobile-100">
						<h3>
							Temas relacionados
						</h3>
						<ul>
							<li><a href="#">Tema 1</a></li>
							<li><a href="#">Tema 2</a></li>
							<li><a href="#">Tema 3</a></li>

						</ul>
					</div>
					<div class="columna columna-25 columna-mobile-100">

						<h3>
							Datos de contacto
						</h3>
						<ul>
							<li>Programadorwebjunior@hotmail.com</li>
							<li>+541132312016</li>
							<li>Buenos Aires, Argentina</li>

						</ul>		
					</div>
					<div class="columna columna-25 columna-mobile-100">

						<h3>
							Redes sociales
						</h3>
						<ul class="redes">
							
						    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>

						</ul>
						
					</div>
				</div>
		</div>
		<div class="barra-footer ">
			&copy; Derechos reservados - 2022
		</div>
		
	</footer>

	<script  type="text/javascript" src="{{url_for('static', filename='jquery.js')}}"></script>
	<script  type="text/javascript" src="{{url_for('static', filename='funciones.js')}}"></script>

</body>
</html>